/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
    text-align: center;
    line-height: 2;
    margin: 40px;
    font-family: cursive;
}
a.navbar-brand {
    font-size: 45px;
    font-weight: bold;
}
p {
    margin-top: 15px;
    font-weight: bold;
    font-size: 2em  ;
    text-align: left;
    padding-left: 50px;
}
h2 {
    font-weight: bold;
}
.pokemon-list {
    list-style: none;
}
.btn {
    color: black;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 25px;
    background: -webkit-gradient(
        linear,
        left top, right top,
        from(#1e5799),
        color-stop(25%, #2989d8),
        color-stop(75%, #207cca),
        to(#7db9e8)
        );
    background: -o-linear-gradient(
        left,
        #1e5799 0%,
        #2989d8 25%,
        #207cca 75%,
        #7db9e8 100%
        );
    background: linear-gradient(
        to right,
        #1e5799 0%,
        #2989d8 25%,
        #207cca 75%,
        #7db9e8 100%
        ); 
}
.btn-secondary {
    color: white;
}